Source: ros-indigo-datamatrix-read
Section: misc
Priority: extra
Maintainer: Jaime Pulido Fentanes <pulidofentanes@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libdmtx-dev, ros-indigo-catkin, ros-indigo-cv-bridge, ros-indigo-image-transport, ros-indigo-roscpp, ros-indigo-std-msgs
Homepage: https://github.com/strands-project/strands_social
Standards-Version: 3.9.2

Package: ros-indigo-datamatrix-read
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdmtx-dev, ros-indigo-cv-bridge, ros-indigo-image-transport, ros-indigo-roscpp, ros-indigo-sensor-msgs, ros-indigo-std-msgs
Description: The datamatrix_read package
